.heading {
    margin-bottom: 18px;
}

.heading h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.heading p {
    margin: 2px 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #a7a7a7;
    line-height: 1.3;
}